{% extends "base.html" %}

{% block content %}
{% for book in books %}
<h2>{{book.title}}</h2>
<h5>{{book.author}}</h5>
<p>{{book.description}}</p>
<a href="/detail/{{book.id}}">detail</a>
<hr>
{% endfor %}
{% endblock %}}