{% extends "base.html" %}

{% block content %}

  {% if form.errors %}
    <p>Přihlášení se nezdařilo.</p>
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>Přihlašovací jméno:</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>Heslo:</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <input type="submit" value="Přihlásit" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>

{% endblock %}